<!--Footer Area Start-->
<footer>
    <div class="footer-container">
        <!--Footer Top Area Start-->
        <div class="footer-top-area black-bg pt-100 pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <!--Single Footer Widget Start-->
                        <div class="single-footer-widget mb-30">
                            <a class="footer-logo" href="/"><img src="/img/logo/logo-footer.png" alt=""></a>
                            <p>Ramazan Aslan , müvekkillerine avukatlık ve danışmanlık hizmeti vermektedir ve çalışma alanlarında müvekkillerinin sorunlarını
                                verimli bir şekilde  çözmektedir.
                            </p>
                            
                        </div>
                        <!--Single Footer Widget End-->
                    </div>
                    <!--Single Footer Widget Start-->
                    <div class="col-md-6 col-lg-3 footer-menu">
                        <div class="single-footer-widget mb-30">
                            <h3 class="footer-title">Bağlantılar</h3>
                            <ul>
                                <li class="<%= page_name === 'index' && 'active' %>"><a href="/">ANASAYFA</a></li>
		                                    <li class="<%= page_name === 'hakkinda' && 'active' %>"><a href="/hakkinda">HAKKIMDA</a></li>
		                                    <li class="<%= page_name === 'calismas' && 'active' %>"><a href="/calismas">ÇALISMA ALANLARIM</a></li>
                                            <li class="<%= page_name === 'blogs' && 'active' %>"><a href="/blogs">YAZILARIM</a></li>
		                                    <li class="<%= page_name === 'iletisim' && 'active' %>"><a href="/iletisim">İLETİSİM</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Single Footer Widget End-->

                    <!--Single Footer Widget Start-->
                    <div class="col-md-6 col-lg-3 footer-menu">
                        <div class="single-footer-widget mb-30">
                            <h3 class="footer-title">Yararlı Linkler</h3>
                            <ul>
                                <li><a href="https://www.barobirlik.org.tr/">Türkiye Barolar Birliği</a></li>
                                <li><a href="https://www.adalet.gov.tr/">Adalet Bakanlığı</a></li>
                                <li><a href="https://www.yargitay.gov.tr/">Yargıtay</a></li>
                                <li><a href="https://www.danistay.gov.tr/">Danıştay</a></li>
                                <li><a href="https://www.sayistay.gov.tr/">Sayıştay</a></li>
                                <li><a href="https://sozluk.adalet.gov.tr/">Hukuk Sözlüğü</a></li>


                            </ul>
                        </div>
                    </div>
                    <!--Single Footer Widget End-->
                    <!--Single Footer Widget Start-->
                    <div class="col-md-6 col-lg-3">
                        <div class="single-footer-widget mb-30">
                            <h3 class="footer-title"> İletişim Bilgi</h3>
                            <p>Ofis Adresi Buraya</p>
                            <p class="contact-info">
                                <a href="#">+12546 658 987</a>
                                <a href="#">+12548 789 987</a>
                            </p>
                            <p class="contact-info">
                                <a href="#">www.ramazanaslan.av.tr</a>
                            </p>
                        </div>
                    </div>
                    <!--Single Footer Widget End-->
                </div>
            </div>
        </div>
        <!--Footer Top Area End-->
        <!--Footer Bottom Area Start-->
        <div class="footer-bottom-area pt-20 pb-20">
            <div class="container text-center">
               <p> Bu websitesi <a href="https://www.deniz-karakas.com">Deniz Karakaş</a> tarafından yapılmıştır.</p><br>
               <p><span>&copy;</span> Copyright, 2022 Tüm Hakları Saklıdır  <a href="/">Ramazan Aslan</a> tarafınca</p>
            </div>
        </div>
        <!--Footer Bottom Area End-->
    </div>
</footer>
<!--Footer Area End-->
</div>





<!--All Js Here-->

<!--Jquery 1.12.4-->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<!--Waypoints-->
<script src="/js/waypoints.min.js"></script>
<!--Counterup-->
<script src="/js/jquery.counterup.min.js"></script>
<!--Carousel-->
<script src="/js/owl.carousel.min.js"></script>
<!--Meanmenu-->
<script src="/js/jquery.meanmenu.min.js"></script>
<!--Instafeed-->
<script src="/js/instafeed.min.js"></script>
<!--Datepicker-->
<script src="/js/jquery.datepicker.min.js"></script>
<!--Calendar-->
<script src="/js/zabuto-calendar.min.js"></script>
<!--ScrollUp-->
<script src="/js/jquery.scrollUp.min.js"></script>
<!--Wow-->
<script src="/js/wow.min.js"></script>
<!--Venobox-->
<script src="/js/venobox.min.js"></script>
<!--Popper-->
<script src="/js/popper.min.js"></script>
<!--Bootstrap-->
<script src="/js/bootstrap.min.js"></script>
<!--Plugins-->
<script src="/js/plugins.js"></script>
<!--Main Js-->
<script src="/js/main.js"></script>
</body>

</html>
